nav {
    display: block;
    @media (min-width: 468px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

a {
    font-size: 1.6rem;
    padding: 1rem;
    margin-bottom: 2px;
    font-weight: 700;
}

a:hover {
    margin-bottom: 0;
    border-bottom: 2px solid gray;
}