<section>
    <h3>Contactos</h3>
    <button class="centerButton" (click)="crear()">
        <fa-icon [icon]="faplus"></fa-icon>
    </button>
    <form *ngIf="operacion === 1 || operacion === 2">
        <div class="grid">
            <label for="description">Descripción</label>
            <input type="text" name="description" [(ngModel)]="contactForm.description" [value]="contactForm.description">
        </div>
        <div class="grid">
            <label for="contact">Contacto</label>
            <input type="text" name="contact" [(ngModel)]="contactForm.contact" [value]="contactForm.contact">
        </div>
        <button *ngIf="operacion === 1 && persona?.id != null" (click)="crearContacto()">Crear contacto</button>
        <button *ngIf="operacion === 2 && persona?.id != null" (click)="actualizarContacto()">Actualizar
            contacto</button>
    </form>
    <div *ngIf="isLoading" class="isLoading"></div>
    <div *ngIf="!isLoading && contactList.length > 0">
        <table>
            <tr>
                <th>Descripción</th>
                <th>Contacto</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
            <tr *ngFor="let contact of this.contactList">
                <td>{{ contact.description }}</td>
                <td>{{ contact.contact }}</td>
                <td><button (click)="editar(contact)">Editar</button></td>
                <td><button (click)="borrar(contact.id)">Borrar</button></td>
            </tr>
        </table>
    </div>

</section>